* {
    font-family: monospace;
}



.top {
    margin: auto auto 10px;
    padding: auto;
    width: 1000px;
    height: 30px;
    box-sizing: border-box;
    /* background-color: red; */
}

li {
    list-style: none;
}

.nav {
    float: left;
}

.nav {
    float: right;
}

.top ul {
    width: 720px;
    overflow: hidden;
    margin: 5px 10px 20px 0;
}

.top ul li {
    margin: 5px 10px 20px 0;
    width: 120px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #FFF;
    float: left;
}

.neirong {
    float: right;
    color: lavenderblush;
    font-size: large;
    font-weight: bolder;

}

.neirong:hover {
    transform: scale(1.2);
}

/* 类选择器 */
.myinfo {
    margin: auto;
    padding: auto;
    width: 1000px;
    height: 300px;
    background-color: rgb(70, 71, 72, 0.5);
}

/* 标签选择器 */
table {
    font-size: 2em;
    color: lightcoral;
    font-weight: bolder;
}

td>img {
    border-radius: 50%;
}

.chinaese {
    font-size: 2em;
    margin-top: 50px;
    text-indent: 2em;
    font-weight: bold;
    color: red;
    text-shadow: greenyellow 2px 2px;
}

.English {
    font-size: 2rem;
    margin-top: 50px;
    font-style: italic;
    color: #86A8E7;
    font-weight: bolder;
    text-indent: 2em;
    text-shadow: lightcoral -1px 2px;
}

.bottom {
    margin: 100px;
    text-align: center;
}